@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 text-white"><strong>Welcome</strong></h1>
    <h3 class="opacity-75"><strong>Use freely this cool system which is made for students to view and enroll in courses in the university.</strong></h3>
</div>
