@model IEnumerable<Course>
@{
    if (ViewBag.ShowDialog != null && ViewBag.ShowDialog == true)
    {
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            })
        </script>
    }
}
<div class="row bg-white border border-white rounded py-5 px-3">
    <div class="display-4 mb-5">Available courses</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Start </th>
          <th scope="col">End</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
       @foreach(var item in Model){
            <tr>
                <th scope="row">@item.Name</th>
                <td>@item.Start.ToString("dd MMMM yyyy")</td>
                <td>@item.End.ToString("dd MMMM yyyy")</td>
                <td><a class="btn btn-outline-primary" asp-area="" asp-route-id="@item.CourseId" asp-controller="Student" asp-action="Enroll">Enroll</a></td>
            </tr>
       }
      </tbody>
    </table>
</div>
