@model ProfileImage

<div class="row">
    <div class="col-7">
        <h3 class="text-center mb-4 mt-2">Change Profile Image</h3>

        <form asp-action="ProfileImage" enctype="multipart/form-data" method="post" class="mx-1 mx-md-4">

            <div class="d-flex flex-row align-items-center mb-4">
                <div class="form-outline flex-fill mb-0">
                    <div>
                        <label for="formFileLg" class="form-label">Select image (jpg, png, jpeg, webp)</label>
                        <input class="form-control form-control-lg" asp-for="@Model.Image"  accept="image/jpg,image/jpeg,image/png,image/webp/">
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="d-flex flex-row justify-content-end mb-4">
                <button type="submit" class="btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                    Add
                </button>

            </div>
        </form>
    </div>
</div>